<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="commom::title('添加管理员')"></head>
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layui-form-pane">
    <div class="layui-form-item" >
        <label class="layui-form-label required">事故</label>
        <div class="layui-input-block">
            <input type="text" name="accident" lay-verify="required" placeholder="请输入事故名称" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label required" >发生时间</label>
        <div class="layui-input-block">
            <input type="text" name="accTime" lay-verify="required" placeholder="请输入发生时间" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required" >原因</label>
        <div class="layui-input-block">
            <input type="text" name="desc" lay-verify="required" placeholder="请输入原因" value="" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required">损失</label>
        <div class="layui-input-block">
            <input type="text" name="loss" lay-verify="required" placeholder="请输入损失" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block" >
            <button class="layui-btn layui-btn-normal" style="width: 80%"  lay-submit lay-filter="addBtn">确认添加</button>
        </div>
    </div>
</div>
<script th:src="@{/static/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form','layer'], function () {
        const form = layui.form,
            layer = layui.layer,
            $ = layui.$;


        form.on('submit(addBtn)', function (data) {
            $.ajax({
                url:'/root/addAcc',
                data:data.field,
                dataType:'json',
                type:'post',
                success:function (data) {
                    if (data.code==200){
                        layer.msg(data.msg,{icon:1});
                    }else{
                        layer.msg(data.msg,{icon:2});
                    }
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        window.parent.location.reload();
                    }, 1000);
                }
            })
            return false;
        });

    });
</script>
</body>
</html>
